nav(class="navbar navbar-fixed-top navbar-inverse" role="navigation")
	div(class="container")
		div(class="navbar-header")
			button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")

			a(class="navbar-brand" href="/") Iting

		div(class="collapse navbar-collapse navbar-ex1-collapse")
			ul.nav.navbar-nav
				if locals.loggedIn
					if locals.rol.islocaladmin || locals.rol.isowner
						li
							a(data-toggle="dropdown" href="#").dropdown-toggle Administracion
								span.caret
							ul.dropdown-menu
								li
									a(href="/app/usuarios" data-fetch="restaurante") Usuarios
								li
									a(href="/" data-fetch="restaurante") Reportes
								li
									a(href="/app/restaurante") Perfil Restaurant
					
						li
							a(data-toggle="dropdown" href="#").dropdown-toggle Inventario
								span.caret
							ul.dropdown-menu
								li
									a(href="/app/items/new") Crear Item
								li
									a(href="/app/items/") Buscar Item
								li.divider
								li
									a(href="/app/inventario") Hacer Inventario
								
					li
						a(data-toggle="dropdown" href="#").dropdown-toggle Platos
							span.caret
						ul.dropdown-menu
							if locals.rol.islocaladmin || locals.rol.isowner
								li
									a(href="/app/restaurante/inventario") Crear Plato
							li
								a(href="/app/restaurante/inventario") Buscar Plato
							li.divider
							if locals.rol.islocaladmin || locals.rol.isowner
								li
									a(href="/") Editar Plato
					li
						a(data-toggle="dropdown" href="#").dropdown-toggle Mesas
							span.caret
						ul.dropdown-menu
							if locals.rol.isowner || locals.rol.isowner
								li
									a(href="/" data-fetch="restaurante") Unir Mesas
								li
									a(href="/" data-fetch="restaurante") Crear Nueva Mesas
							li
								a(href="/" data-fetch="restaurante") Ver Mesas
							
					li
						a(data-toggle="dropdown" href="#").dropdown-toggle Pedidos
							span.caret
						ul.dropdown-menu
							li
								a(href="/" data-fetch="restaurante") Ver Pedido
							li
								a(href="/" data-fetch="restaurante") Crear Pedido
							li
								a(href="/" data-fetch="restaurante") Editar Pedido
							li
								a(href="/" data-fetch="restaurante") Pagar Pedido
							
				else
					li
						a(href="#sobreNosotros").scroll-link Sobre Nosotros
					li
						a(href="#comoComprar").scroll-link Como Usar Iting
					li
						a(href="#Contactanos").scroll-link Contáctanos

			ul.nav.navbar-nav.navbar-right
				if (currentUser == false)
					li
						a(href="#login" class="login" data-toggle="modal" data-target="#loginModal") Ingresa
				else
					li
						a(data-toggle="dropdown" href="#").dropdown-toggle 
							i.fa.fa-cog Configuracion 
								span.caret
						ul.dropdown-menu
							li
								a(href="/profile").logout 
									i.fa.fa-user.fa-fw Perfil
							if locals.rol.isadmin
								li
									a(href="/admins/restaurantes") Administracion
								li.divider
							li
								a(href="/logout").logout Salir
					
				
				
