
doctype html
html
	head
		if title
			title #{title}
		else
			title Iting.
		meta(http-equiv='content-type', charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')


		link(rel='stylesheet', href='/3rdparty/bootstrap/bootstrap.min.css')
		link(rel='stylesheet', href='/3rdparty/bootstrap/bootstrap-theme.min.css') 
		link(rel='stylesheet', href='/3rdparty/bootstrap/bootstrap.columnsheight.css') 
		link(rel='stylesheet', href='/3rdparty/bootstrap/bootstrap-fileinput-master/css/fileinput.min.css') 
		link(rel='stylesheet', href='/3rdparty/fontawesome/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')

		link(rel='stylesheet', href='/stylesheets/full-slider.css')
		link(rel='stylesheet', href='/stylesheets/style.css') 
		link(rel='stylesheet', href='/stylesheets/chuckie.css')
		if locals.loggedIn
			link(rel='stylesheet', href='/stylesheets/logged.css')


	body
		include head
		div.container.content
			block content
		include snipets/modal_login

			

	script(type='text/javascript' src='/javascripts/jquery-2.1.0.min.js')
	script(type='text/javascript' src='/javascripts/jquery-ui.js')
	script(type='text/javascript' src='/3rdparty/konamikode/jquery.konami.min.js')
	script(type="text/javascript" src="/3rdparty/bootstrap/bootstrap.min.js")
	script(type="text/javascript" src="/3rdparty/bootstrap/bootstrap-fileinput-master/js/fileinput.min.js")
	script(type='text/javascript' src='/javascripts/jquery.easing.js')
	script(type="text/javascript" src="/3rdparty/googleCharts/charts.js")
	script.
		google.load("visualization", "1", {packages:["corechart"]});
	script(type='text/javascript' src='/javascripts/script.js')
	if locals.loggedIn
		script(type='text/javascript' src='/javascripts/strongloop/config.js')

