extends ../../layout
block content
    .row#reportes
        include ../../snipets/errors
        .col-xs-11.col-sm-11.col-centered.reportes
            h3 Reportes
            .col-xs-12.col-sm-12.reporte
                a(href="/app/reportes/flujodiarioitems").btn.btn-success Flujo Diario Items
                a(href="#").btn.btn-success Ventas
                a(href="#").btn.btn-success Mermas por item
                a(href="#").btn.btn-success Gastos
                a(href="#").btn.btn-success Fluctuacion de precios de compra
