extends ../../layout
block content
	.row
		.col-xs-11.col-sm-11.col-centered
			h3 Usuarios
			a(href="/items/new").btn.btn-success Crear Item
		.col-xs-11.col-sm-11.col-centered#itemslist
			include ../../snipets/errors
			each item,i in items
				.col-xs-12.user(data-userid="#{item.id}")
					.col-xs-12.info
						div.data.col-xs-10
							p.nombre #{item.nombre}
							p.email #{item.descripcion}
						div.acciones.col-xs-2
							a(href="/app/items/edit/#{item.id}")
								i.fa.fa-fw.fa-edit  